@page
@model AutoServiceGeniralsMotors.Pages.HelpModel
@{
    ViewData["Title"] = "Помощь в использовании";
}

<div class="text-center">
    <h1 class="display-4">Помощь по использованию сайта</h1>
</div>

<p class="text-justify">
    Для того чтобы записатся на сайте нажмите то-то то-то зделаете это-то и так далее тому подобное
</p>
