@page
@model AutoServiceGeniralsMotors.Pages.HelpModel
@{
    ViewData["Title"] = "Помощь в использовании";
}

<div class="text-center">
    <h1 class="display-4">Помощь по использованию сайта</h1>
</div>

<p class="txext-justify">
    <h3>Регистрация</h3>
    <p>Для записи в автосервис необходимо зарегестрироватся. Чтобы осуществия данную процедуру необходимо нажать кнопку "Регистрация" на главной странице, заполнить соответсвующую форму и нажать кнопку зарегестрироватся</p>
    <h3>Авторизация</h3>
    <p>После регестрации необходимо произвести процесс авторизации чтобы получить дальнейший доступ к сайту</p>
    <h3>Добавление автомобиля</h3>
    <p>После процесса авторизация, необходимо выбрать марку из поддерживаемых автосервисом, и кузов. После чего можно добавить автомобиль</p>
    <h3>Запись в автосервис</h3>
    <p>После добавления автомобиля, можно выбрать услугу из оказываемых автосервисом и записатся на услугу, после чего ожидать одобрения заявки или звонка</p>
</p>
